!!!
%html{ :lang => 'ja' }
  %head
    %meta{ :charset => 'utf-8' }
    - title = content_for?(:title) && "#{yield_content(:title)} | " || ""
    %title= "#{title}#{I18n.t('message.app.title')}"
    %link{ :rel => 'stylesheet', :href => '/stylesheets/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/font-awesome.min.css' }
    %link{ :rel => 'stylesheet', :href => '/stylesheets/style.css' }
  %body{ :id => "#{request.path == '/' && 'index' || request.path.sub!('/', '')}" }
    %header
      %nav.navbar-default.navbar-fixed-top{ :role => 'navigation' }
        .navbar-header
          %a.nav-title.navbar-brand{ :href => "/" }= I18n.t('message.app.title')

        %ul.nav.navbar-nav.navbar-right
          %li.avatar
            %a{ :href => "#{instance_url}/#{current_user[:user_id]}", :target => '_blank' }<
              %img{ :src => "#{current_user[:small_photo_url]}?oauth_token=#{client.oauth_token}" }
              = current_user[:user_name]
          %li.logout
            %a{ :href => '/logout' }<
              = I18n.t('message.nav.logout')

    .container
      = yield

      %footer.pull-right
        %a{ :href => '#top' }<
          %i.icon-circle-arrow-up
          = I18n.t('message.label.go_to_top')